<div class="home-container container">
	{% if work[0] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[0].link}}">
				<article class="small-tile tile">
					<img class="tile" src="{{TimberImage(work[0].homeimg).src}}"/>
					<div class="grid-headings">
						<h2>{{work[0].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[0].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- First block ends here -->

	{% if work[4] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[4].link}}">
				<article class="large-tile tile">
					{% if work[4].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[4].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[4].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[4].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[4].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- Second block ends here -->

	{% if post.about %}
		{% set about = TimberPost(post.about) %}
		<div class="col-sm-1 grid-block">
			<a href="{{about.link}}">
				<article class="large-tile tile">
					<img class="tile" src="{{TimberImage(about.homeimg).src}}"/>
					<div class="grid-headings right grid-headings--big">
						<h2>we are<br/><b>portland.</b></h2>
						<p><span class="heading-small">ABOUT US.</span></p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- Third block ends here -->

	{% if work[5] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[5].link}}">
				<article class="small-tile tile">
					{% if work[5].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[5].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[5].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[5].title}}</h2>
						<p><span class="heading--bold">WORK.</b></span>&nbsp;{{work[5].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>

	{% endif %}

	<!-- Fouth block ends here -->


	{% if work[2] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[2].link}}">
				<article class="small-tile tile">
					{% if work[2].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[2].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[2].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[2].title}}</h2>
						<p><span class="heading--bold">WORK.</b></span>&nbsp;{{work[2].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- Fith block ends here -->

	{% if work[3] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[3].link}}">
				<article class="small-tile tile">
					{% if work[3].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[3].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[3].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[3].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[3].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- sixth block ends here -->

	{% if work[7] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[7].link}}">
				<article class="small-tile tile">
					{% if work[7].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[7].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[7].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[7].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[7].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}
	<!-- seventh block ends here -->

		<!-- Elighth block ends here -->


	{% if work[1] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[1].link}}">
				<article class="small-tile tile">
					<img class="tile" src="{{TimberImage(work[1].homeimg).src}}"/>
					<div class="grid-headings">
						<h2>{{work[1].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[1].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}


	<!-- ninth block ends here -->

	{% if work[8] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[8].link}}">
				<article class="small-tile tile">
					{% if work[8].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[8].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[8].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[8].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[8].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	<!-- tenth block ends here -->


	{% if tweet %}
		<div class="col-sm-1 grid-block twitter-widget">
			<div class="twitter-wrap">
			<article class="small-tile tile">
				<p><a href="https://twitter.com/{{tweet[0].user.screen_name}}">@{{tweet[0].user.screen_name}}</a></p>
				<p>{{fn('render_tweet', tweet[0])}}</p>
			</article>
			</div>
		</div>
	{% endif %}


	{% if work[9] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[9].link}}">
				<article class="small-tile tile">
					{% if work[9].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[9].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[9].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[9].title}}</h2>
						<p><span class="heading--bold">WORK.</b></span>&nbsp;{{work[9].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	<!--{% if work[10] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[10].link}}">
				<article class="large-tile tile">
					{% if work[10].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[10].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[10].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[10].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[10].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}-->


	<div class="col-sm-1 grid-block">
		<a href="{{frqs}}">
			<article class="small-tile tile">
				<img class="tile" src="{{theme.link}}/assets/FRQs/home-mobile-tile-frq.gif"/>
			</article>
		</a>
	</div>


	<!-- Tenth block ends here -->

	{% if work[11] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[11].link}}">
				<article class="small-tile tile">
					<img class="tile" src="{{TimberImage(work[11].homeimg_mob)}}"/>
					<div class="grid-headings">
						<h2>{{work[11].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[11].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}


	{% if work[19] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[19].link}}">
				<article class="small-tile tile">
					{% if work[19].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[19].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[19].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[18].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[18].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	{% if work[16] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[16].link}}">
				<article class="small-tile tile">
					<img class="tile" src="{{TimberImage(work[16].homeimg)}}"/>
					<div class="grid-headings">
						<h2>{{work[16].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[16].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	{% if work[12] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[12].link}}">
				<article class="small-tile tile">
					{% if work[12].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[12].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[12].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[12].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[12].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}



	{% if work[6] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[6].link}}">
				<article class="small-tile tile">
					{% if work[6].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[6].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[6].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[6].title}}</h2>
						<p><span class="heading--bold">WORK.</b></span>&nbsp;{{work[6].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>

	{% endif %}

	{% if work[14] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[14].link}}">
				<article class="small-tile tile">
					{% if work[14].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[14].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[14].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[14].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[13].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}



	<!--
	<div class="col-sm-1 grid-block">
	<a href="#">
	<article class="small-tile tile">
	<img class="tile" src="/assets/homepage/Joining-The-Dots-Mobile.gif">
</article>
</a>
</div>
-->

<!-- Twelvth block ends here -->

		{% if work[18] %}
		<!-- Thirteenth block ends here -->
		<div class="col-sm-1 grid-block">
			<a href="{{work[18].link}}">
				<article class="small-tile tile">
					{% if work[18].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[18].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[18].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[18].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[18].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	<div class="col-sm-1 grid-block">
		<a href="british-land">
			<article class="col-sm-4">
				<a href="news" class="grid-block--img">
					<img src="{{TimberImage(post.news_img).src}}">
					<div class="grid-headings">
						<h2>{{post.news_title}}</h2>
						<p><span class="heading--bold"><b>NEWS.</b></span></p>
					</div>
				</a>
			</article>
		</a>
	</div>


	{% if work[20] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[20].link}}">
				<article class="small-tile tile">
					{% if work[20].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[20].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[20].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[20].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[20].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	{% if work[13] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[13].link}}">
				<article class="small-tile tile">
					{% if work[13].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[13].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[13].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[13].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[13].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}


	{% if work[17] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[17].link}}">
				<article class="small-tile tile">
					{% if work[17].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[17].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[17].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[17].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[17].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}

	{% if work[15] %}
		<div class="col-sm-1 grid-block">
			<a href="{{work[15].link}}">
				<article class="small-tile tile">
					{% if work[15].homeimg_mob %}
						<img class="tile"
							src="{{TimberImage(work[15].homeimg_mob).src}}"/>
					{% else %}
						<img class="tile" src="{{TimberImage(work[15].homeimg)}}"/>
					{% endif %}
					<div class="grid-headings">
						<h2>{{work[15].title}}</h2>
						<p><span class="heading--bold"><b>WORK.</b></span>&nbsp;{{work[15].terms('sector')[0].name}}</p>
					</div>
				</article>
			</a>
		</div>
	{% endif %}






<!-- <div class="col-sm-1 grid-block">
<article class="small-tile tile">
<img class="tile" src="/assets/homepage/frq.gif"/>
</article>
</div> -->
</div>
