{% extends "layouts/base.twig" %}

{% block content %}
	<section id="frq-Section" class="news-gradient content" style="padding: 9em 1em 0;">
		<div class="inner-content">
			<!--- CONTAINER STARTS HERE -->
			{% for post in posts %}
				<div class="frq-accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<!-- PANEL STARTS HERE-->
						<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
							<div class="future-box-date panel-heading-date">
								<img src="{{theme.link}}/assets/FRQs/FRQ-Pointing-Right.png" alt="Arrow" />
							</div>
							<div class="panel-title">
								<span data-toggle="collapse" class="col-md-12">
									<strong class="col-md-1">Q:&nbsp;</strong><p class="col-md-8">{{post.title}}</p>
								</span>
							</div>
						</div><!-- PANEL HEADING ENDS HERE -->
						<div id="collapse{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<p>
							<strong>A:&nbsp;</strong>
							{{post.content}}
							<small><strong>{{post.get_field('name')}}</strong>, {{post.position}}</small>
							</p>
						</div>
					</div>
				</div><!-- PANEL ENDS HERE -->
			{% endfor %}
			<div style="height: 1px; margin-bottom: 0.8em;"></div>
		</div>
	</section>
{% endblock %}
