{% extends "layouts/base.twig" %}

{% block content %}
	<section id="frq-Section" class="gradient content">
		<div class="inner-content">
			<!--- CONTAINER STARTS HERE -->
			{% for post in posts %}
				<div class="frq-accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<!-- PANEL STARTS HERE-->
						{% if loop.index0 == 0 %}
							{% set expanded = true %}
						  {% set class = ' in' %}
						{% else %}
							{% set expanded = false %}
							{% set class = '' %}
						{% endif %}
						<div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="{{expanded}}" aria-controls="collapse{{loop.index}}">
							<div class="future-box-date panel-heading-date">
								<img src="{{theme.link}}/assets/FRQs/FRQ-Pointing-Right.png" alt="Arrow" />
							</div>
							<div class="panel-title">
								<span data-toggle="collapse{{class}}" class="col-md-12">
									<strong>Q:&nbsp;</strong>
									<p class="col-md-8">{{post.title}}</p>
								</span>
							</div>
						</div><!-- PANEL HEADING ENDS HERE -->
						{% if loop.index0 == 0 %}
						<div id="collapse{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{loop.index}}">
						{% else %}
						<div id="collapse{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{loop.index}}">
						{% endif %}
							<p><strong>A:&nbsp;</strong></p>
							{{post.content}}
							<p><strong>{{post.get_field('name')}}</strong>, {{post.position}}</p>
						</div>
					</div>
				</div><!-- PANEL ENDS HERE -->
			{% endfor %}
		</div>
	</section>
{% endblock %}
