{% extends "layouts/base.twig" %}

{% block content %}
  <span class="buffer buffer-75"></span>
  <div id="fullpage">
    <div class="slide">
      <article class="section" style="background-image:
        url('{{TimberImage(sector.image).src}}'); background-position: bottom !important; height: 100%; width: 100%; position: relative; display: block;">
        <div class="work-full-bg work-content">
          <h2>{{sector.display_title}}</h2>
          <div class="sector-desk-description">{{sectordesc}}</div>
          <div class="sector-mobile-description">{{sector.desc_mob}}</div>
        </div>
      </article>
      {% for post in posts %}
        <article class="section">
          <a href="{{post.link}}" style="background-image:
            url('{{post.thumbnail.src}}'); background-position: bottom !important; height: 100%; width: 100%; position: relative; display: block;" class="work-full-bg">
            <div class="work-headings">
              <h2>{{post.title}}</h2>
              <p class="work-subheading">{{post.subtitle}}</p>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
