{% extends "layouts/base.twig" %}

{% block content %}
  <span class="buffer buffer-75"></span>
  <div id="fullpage" class="ng-scope fullpage-wrapper">
    <div class="slide fp-slide">
      <article class="section">
        <div class="work-full-bg work-content work-gradient">
          <article class="work-headings">
            <h2>{{sector.name}}</h2>
            {{sectordesc}}
          </article>
        </div>
      </article>
      {% for post in posts %}
        <article class="section">
          <a href="{{post.link}}" class="work-full-bg visible-xs visible-sm
            visible-md visible-lg" style="background-image:
            url('{{post.thumbnail.src}}');">
            <div class="work-headings">
              <h2>{{post.title}}</h2>
              <p class="work-subheading"><span class="heading--bold">WORK.</span>&nbsp;{{sector.name}}</p>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
