<footer class="col-md-12">
	<div class="col-xs-12 col-sm-6 col-md-6 footer-logo">
		<span><img src="{{theme.link}}/assets/global/logo.png"></span>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 footer-social-icons">
		<a href="https://www.instagram.com/portlanddesign/" target="_blank"><img  class="footer-icon-size" ng-src="{{theme.link}}/assets/global/black-instagram.svg"/></>
		<a href="https://twitter.com/PortlandDesign" 	    target="_blank"><img  class="footer-icon-size" ng-src="{{theme.link}}/assets/global/black-twitter.svg"/></a>
		<a href="https://www.facebook.com/PortlandDesign/" 	target="_blank"><img  class="footer-icon-size" ng-src="{{theme.link}}/assets/global/black-facebook.svg"/></a>
		<a href="https://www.linkedin.com/company/portland" target="_blank"><img  class="footer-icon-size" ng-src="{{theme.link}}/assets/global/black-linkedin.svg"/></a>
	</div>

	<div class="footer-address col-xs-12 col-sm-12 col-md-12">
	<!--	<div class="col-xs-12 col-sm-4 col-md-2 footer-form">
				<form id="mc-embedded-subscribe-form"
							name="mc-embedded-subscribe-form"
							action="//portlanddesigndev.us14.list-manage.com/subscribe/post?u=10b45670dff8d74a42658ada9&amp;id=fb24ba2040"
							method="post"
							novalidate>
					<h4>Sign up to Joining The Dots</h4>
					<div class="form-group newsletter-form">
						<input name="FNAME" value="" type="text" placeholder="Name" id="mce-FNAME">
					</div>
					<div class="form-group newsletter-form">
						<input name="EMAIL" value="" type="email" placeholder="Email" class="required email" id="mce-EMAIL">
					</div>
					<div class="form-group newsletter-form">
						<input class="submit" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
					</div>
				</form>
		</div>-->
		<div class="col-sm-2 col-md-2" style="width: 198px !important;">
			<span>London head Office</span>
				<p>
					63 Gee Street<br/>
					London, EC1V 3RS<br/><br/>
					<a class="visible-xs hidden-sm hidden-md hidden-lg" href="tel:+4402070178780">T +44 (0)20 7017 8780</a>
					<a class="hidden-xs visible-sm visible-md visible-lg">T +44 (0)20 7017 8780</a>

					F +44 (0)20 7017 8781<br/>
				</p>
			<a href="mailto:liz@portland-design.com">E&nbsp;liz@portland-design.com</a>
		</div>
		<div class="col-sm-4 col-md-4">
			<span>Dubai</span>
			<p>
				Stephen Walsh<br/>
				Regional Director<br/><br>
				<a class="visible-xs hidden-sm hidden-md hidden-lg" href="tel:+971504548410">M +971 50 454 8410</a>
				<a class="hidden-xs visible-sm visible-md visible-lg" href="tel:+971504548410">M +971 50 454 8410</a>

			</p>
			<a href="mailto:liz@portland-design.com">E&nbsp;stephen@portland-design.com</a>
		</div>
		<small class="col-sm-12 col-md-12">&copy;Portland Design Associates LTD</small>
	</div>
</footer>
